<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>APOD Viewer</title>
	</head>
	<body ng-app="app">
		<div ng-controller="ApodviewerCtrl as apod">
			<h4>{{apod.apodData.title}}</h4>
			<div ng-show="apod.apodData.error">
				<h3>An ERROR has occurred retrieving the NASA Astronomy Picture of the Day. {{apod.apodData.message}}</h3>
			</div>
			<div class="embed-responsive embed-responsive-16by9" ng-show="apod.video">
				<iframe class="embed-responsive-item" ng-src="{{apod.apodData.url | trusted}}" allowFullScreen></iframe>
			</div>
			<div ng-hide="apod.video">
				<img class="img-responsive center-block" alt="NASA Picture of the day" ng-src="{{apod.apodData.url}}">
			</div>
			<h5>{{apod.apodData.explanation}}</h5>
			<h6>
				<em>(Title, image/video, and explanation loaded automatically from NASA's APOD API endpoint. These data change daily.)</em>
			</h6>
			<div>
				<form novalidate class="simple-form">
					<label>Date:
						<input type="text" ng-model="apod.apodDate">
					</label>
					<input type="button" ng-click="apod.updateDate(apod.apodDate)" value="Change Date">
					<br>
					<input type="button" ng-click="apod.prevDate(apod.apodDate)" ng-disabled="apod.beforeApodDate(apod.apodDate)" value="Previous">
					<input type="button" ng-click="apod.nextDate(apod.apodDate)" ng-disabled="apod.futureDate(apod.apodDate)" value="Next">
					<br>
					<p>The DEMO_KEY has limited hourly and daily rates per ip address. You can apply for your own
						<a href="https://api.nasa.gov/index.html#apply-for-an-api-key">API_KEY</a>for increased limits.
					</p>
					<label>API_KEY:
						<input type="text" ng-model="apod.apikey">
					</label>
					<input type="button" ng-click="apod.updateKey(apod.apikey)" value="Change Key">
				</form>
			</div>
		</div>
		<!--<ng-apod-viewer></ng-apod-viewer>-->
		<!--<script src="js/app.js"></script>-->
		<script src="js/app.min.js"></script>
	</body>

</html>